
/* Reset CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Quicksand', sans-serif;
    position: relative;
}
.card{
    border: none;
}
.about-cus{
    overflow: hidden;
}
.about-section{
    background-color: #fafafa;
    overflow: hidden;
    border-radius: 12px;
    align-items: center;
}
.about-section div img{
    filter: brightness(0.5);
}

.about-cus img{
    cursor: pointer;
    transition: 1s;
}
.about-cus img:hover{
    transform: scale(1.5);
}
.flex-left{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 24px;
    flex-direction: column;
    width: 30%;
}

.flex-right{
    width: 70%;
}
.flex-right img{
    filter: brightness(0.5);
}
.card-header{
    border: none;
    background-color: #f8f8f8;
}
.btn-close-danger{
    background: none;
    border: none;
}
.scroll-y{
    overflow-y: scroll;
    max-height: 450px;
}
.btn-close-danger:hover{
    color: red;
    transition: 0.2s;
}
#compare-large{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    background-color: #fff;
    width: 100%;
    z-index: 99;

}
.paginationjs{
    display: flex;
    justify-content: center;
}
.item-compare{
    position: relative;
    display: inline-block;
}
.item-compare img{
    max-width: 180px;
    width: 100%;
}
.item-compare button{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}
.item-compare button:hover{
    color: red;
    transition: 0.25s;
}
.small-banner{
    background: url(../../assets/images/banner4.jpg);
    min-height: 280px;
    background-size: 100%;
    background-position: top;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    z-index: 1;
}
.detailSwiper{
    border-radius: 12px;
}
#selected-size li{

}
.detailSwiper img{
    max-height: 720px;
    width: 100%;
}
.mySwiperThumber{
    max-height: 180px;
    border-radius: 12px;
}
.mySwiperThumber img{

    width: 100%;
    cursor: pointer;
}
.smallest-banner{
 background: url(../../assets/images/banner4.jpg);
 min-height: 180px;
 background-size: 100%;
 background-position: top;
 background-attachment: fixed;
 position: relative;
 z-index: 1;
 padding: 80px 0px 0px;
}
.item-cate-cart{
    border: 1px solid #c3c1c1;
    border-radius: 12px;
    padding: 6px 12px;
    font-size: 14px;
    color: #c3c1c1;
    background: none;
}
.item-cate-cart.active{
    font-weight: bold;
    border-color:  rgb(124 58 237);
    background:   rgb(124 58 237);
    color: #fff;
}
.small-banner:after{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffcc;
    transition: 0.5s;
}
.smallest-banner:after{
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffcc;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color:  #000;
}
a:hover{
    color:  rgb(124 58 237);
}
.ads-info{
    border-radius: 12px;
    overflow: hidden;
    max-height: 200px;
    position: relative;
}
.ads-info-content{
 position: absolute;
 left: 5%;
 top: 50%;
 transform: translate(0, -50%);
}
.ads-info-content .ads-info-sub-title{
    font-weight: bold;
    opacity: .4;
}
.ads-info-content .ads-info-title{
    font-weight: bold;
    text-transform: uppercase;
}
.ads-info-content .btn-ads-info{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    opacity: .7;
    display: inline-block;
    transition: all 0.2s;
}
.section-adser{
    overflow: hidden;
}
.ads-info-content .btn-ads-info:hover{
  transform: scale(1.02);
  color:  rgb(124 58 237);
  
}
#loading-web{
    width: 100%;
    min-height: 100%;
    background-color: #ffff;
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /*display: none;*/

}

.ads-info img{
    height: 100%;
}
.section-sale{
    background-color: #fafafa;
}
.section-foryou{
    background-color: #fafafa;
}

.forYouSwiper{
 border-radius: 12px;
}
.card-custom{
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    overflow: hidden;
    border:  1px solid #ededef;
    position: relative;
}
.card-custom .card-custom-img{
    position: relative;
    overflow: hidden;
}
.card-custom .card-custom-img:after{
    border-left: 1px dashed rgb(124 58 237);
    border-right: 1px dashed rgb(124 58 237);
    right: 10px;
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    bottom: 50%;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.card-custom .card-custom-img:hover .compare{
 opacity: 1;
}
.compare{
 width: 100%;
 border: none;
 padding: 12px 24px;
 position: absolute;
 bottom: 0;
 left: 0;
 background: #6a6a6a94;
 z-index: 2;
 color: #fff;
 opacity: 0;
 transition: 0.5s;
 font-weight: bold;
 text-transform: uppercase;
} 
#compare-mini{
   position: fixed;
   z-index: 9;
   bottom: 0;
   width: 100%;
   background-color: #f5f5f5;
   border-top: 1px solid #e9e9e9;
} 
.img-new{
    border-radius: 12px;
    overflow: hidden;
}
.newa-content  h6{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box; 
}
.item-cart-title{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box; 
}

.card-custom .card-custom-img:before{
    border-top: 1px dashed rgb(124 58 237);
    border-bottom: 1px dashed rgb(124 58 237);
    right: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    bottom: 10px;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}
.card-custom:hover .card-custom-img:after{
    opacity: 1;
    top: 10px;
    bottom: 10px;
}
.card-custom:hover .card-custom-img:before{
  opacity: 1;
  left: 10px;
  right: 10px;
}

.card-custom a{
    width: 100%;
    color:  black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.card-custom:hover .card-custom-content{
    color:  rgb(124 58 237);

}
.card-custom .card-custom-content{
    padding: 6px 12px;
}
.card-custom .card-custom-content h3{ 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.card-custom .card-custom-wishlist{
    display: flex;
    position: absolute;
    right: 4%;
    top: 2%;
    gap: 6px;
    z-index: 1;
}
.card-custom .card-custom-wishlist>button{
    background: none;
    border:  none;
    transition: .5s;
}
.card-custom .card-custom-wishlist>button:hover{
    color:  rgb(124 58 237);
}
.banner-mobile-backdrop{
    background-color: #ffffffcc;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: 0.5s;
}
footer{
 clear: both;
}

/*.wrapper-body{
    padding: 24px 0px;
}*/
.header-user>li{
    margin-right: 12px;
}
.navbar-brand{
    max-width: 200px;
}
.link-categogries{
    text-decoration: none;
    color: black;
}

.badge-cart{
 text-align: center;
 position: absolute;
 top: -8px;
 right: -13px;
 background-color: #000;
 color: #fff;
 display: inline-block;
 width: 18px;
 height: 18px;
 border-radius: 100%;
 line-height: 18px;
 font-size: 12px;
}
#cart-header{
    min-width: 320px;
    padding: 12px;
}
#cart-header ul{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 350px;
}
#cart-header li{
    border-bottom: 1px solid #ebebeb;
    padding: 12px 0px;
}
#cart-header img{
    border-radius: 6px;
}
.link-categogries h6{
    font-size: 18px;
    font-weight: bold;
    padding-top: 6px;
    text-transform: capitalize;
}
.link-categogries:hover{
    color:  rgb(124 58 237);
}
.link-categogries:hover .img-card>img{

    transform: scale(1.1);
}
.img-card{

    overflow: hidden;
    border-radius: 12px;
}
.btn-view-cart{
  font-size: 18px !important;
  color: #fff !important;
  background: #7c3aed;
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}
.btn-view-cart:hover{
    color: #fff !important;
    filter: brightness(1.25);
}
.img-card img{
    transition: 0.5s;
}
#navbarHeader li>a{
    color: rgb(23 23 23);
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;

}
#navbarHeader li>a:hover{
    color: rgb(124 58 237);
}
.header-user .nav-item a{
    text-decoration: none;
    color: rgb(23 23 23);
    font-size: 12px;
    font-weight: bold;
    transition: 0.5s;

}
.header-user .nav-item a:hover{
    color: rgb(124 58 237);

}
#header{
    background-color: #f1f1f100;
    padding: 6px 0px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 820px;
}
.banner img{
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
}
.banner .banner-content{
 position: absolute;
 top: 50%;
 left: 25%;
 transform: translate(-50%,-50%);
 z-index: 3;
}
.banner-content-title{
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
}
.text-title-decoration{
    position: relative;
    margin-bottom: 24px;
}
.button-slider-nav{
    background: #fff;
    padding: 6px;
    position: absolute;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-custom-hover{
    transition: 0.5s;
}
.btn-custom-hover:hover{
    color:  #fff;
    filter: brightness(1.25);
}
/* btn primary */
.btn-custom-primary{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    border-radius: 12px;
    background-color: rgb(124 58 237);
    border: none;
    padding: 6px 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
.text-custom-primary{
    color: rgb(124 58 237)!important;
}
.text-custom-success{
    color: rgb(5 150 105)!important;
}
.text-custom-danger{
    color: rgb(225 29 72)!important;
}
.text-custom-info{
    color: rgb(37 99 235)!important;
}
.bg-custom-primary{
    background-color: rgb(124 58 237)!important;
    color: #fff;
}
.bg-custom-success{
    background-color: rgb(5 150 105)!important;
    color: #fff;

}
.bg-custom-danger{
    background-color: rgb(225 29 72)!important;
    color: #fff;

}
.bg-custom-info{
    background-color: rgb(37 99 235)!important;
    color: #fff;

}
/* btn danger */
.btn-custom-danger{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    border-radius: 12px;
    background-color: rgb(225 29 72);
    border: none;
    padding: 6px 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
/* btn success */
.btn-custom-success{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    border-radius: 12px;
    background-color: rgb(5 150 105);
    border: none;
    padding: 6px 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
/* btn success */
.btn-custom-info{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    border-radius: 12px;
    background-color: rgb(37 99 235);
    border: none;
    padding: 6px 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: #fff;
}
.button-next{
    z-index: 2;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
}
.button-prev{
    z-index: 2;
    left: 5px;
    top: 50%;
    transform: translate(0, -50%);

}
.swiper-button-disabled{
    opacity: .5;
}
.swiper-slide-active .bct-fade{
    animation: fadeInDown 1s;
}
.swiper-slide-active .bcts-fade{
    animation: fadeInUp 1s;

}
/*  */
.swiper-slide-active .bct-fade-1{
    animation: bounceInDown 1s;
}
.swiper-slide-active .bcts-fade-1{
    animation: bounceInUp 2s;

}